.nav {
    width: 3%;
    background: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;
}

.nav::after {
    content: "";
    height: 0%;
    width: 3px;
    background: #FAC112;
    position: absolute;
    right: 0;
    z-index: 999;
    bottom: 0;
    box-sizing: content-box;
    animation: grow-height 1s 1.9s linear;
}

.fck {
    content: "";
    height: 0%;
    width: 3px;
    background: #FAC112;
    position: absolute;
    right: left;
    bottom: 0;
    z-index: 9999;
    box-sizing: content-box;
    animation: grow-height 10s 2.9s linear infinite;
}

@keyframes grow-height {
    0% {height: 0%;}
    100%{height: 100%;}
}

.grow-line {
    width: 100%;
    height: 40px;
}

.line {
    height: 2px;
    background: #707070;
    margin: 10px 0px;
    animation: grow-line 1s forwards;
    opacity: .33;
}

@keyframes grow-line {
    0%{width: 0%}
    100%{width: 100%;}
}

/* Logos */

.logo {
    z-index: 3;
    margin-top: 5px;
}

.circle {
    width: 30px;
    height: 30px;
    background: none;
    margin: 0 auto;
    position: relative;
}

.progres-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
}

.progres-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
}

.progres-left .progres-bar
{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    animation: loading-2 .3s  linear forwards .3s;

}


.progres-right .progres-bar
{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: -100%;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
border-right: 0;
-webkit-transform-origin: center right;
transform-origin: center right;
animation: loading-1 .3s  cubic-bezier(0.000, 0.645, 0.615, 0.600) forwards;
}


.circle .progres-bar {
    border-color: #222E46;
}




@keyframes loading-1{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}
@keyframes loading-2{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}

/* nav-btn */

.nav-btn.active .first-div {
    transition: all .3s ease-in;
    position: absolute;
    background: white;
    transform: rotate(45deg);
}

.nav-btn.active .second-div {
    transition: all .3s ease-in;
    transform: rotate(-45deg);
    background: white;
}


.first-div {
    transform: translate(0deg);
    margin-bottom: 5px;
    transition: transform .2s ease-in, color 10s ease-in !important;
  
}

.second-div {
    transform: translate(0deg);
    transition: transform .2s ease-in , color 1s ease-in !important;

}

.nav-btn {
    margin: 35px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 15px;
    cursor: pointer;
    z-index: 2;
}

.nav-btn div div {
    height: 4px;
    width: 0;
    background: #222E46;
}



.first-div.aos-animate {
    animation: grow-btn .6s .1s forwards;
}

@keyframes grow-btn {
    0%{width:0px;}
    100%{width: 22px;}
}

.second-div.aos-animate {
    animation: grow-btn .6s .2s forwards;

}

.menu {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 100%;
    top: 7%;
    height: 53px;
    background: #FAC112;
    opacity: 0.9;
    transform: translateX(-100%);
    overflow: hidden;
    transition: transform .3s ease-in;
}

.menu.is-active {
    transform: translateX(0%);
}

.lang
{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    background: white;
    width: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s .1s ease-in;
}

.lang.add-lang p {
    opacity: 1;
    transform: translateY(0%);
    
}

.lang p{
    opacity: 0;
    margin: 0;
    transform: translateY(100%);
    transition: all .6s .3s ease-in-out; 
}

.lang >div {
    overflow: hidden;
}

.lang.add-lang {
    transform: translateX(0%);
}

.list-ul {
    margin: 0;
    padding-left: 90px;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 53px;
}

.list-ul li {
    margin: 0 20px;
    font-size: 14px;
    font-family: Roboto;
    cursor: pointer;
    transition: color .3s;
}

.list-ul li:hover {
    color: white;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: #222E46;
    z-index: 1;
    transition: opacity .2s ease-in;
}

.background.go {
    opacity: .8;   
}


.ball_holderG::after {
    content: "";
    height: 39px;
    width: 30px;
    background: white;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
/* Search Circle */

.just-line {
    width: 0px;
    height: 2px;
    background: #FAC112;
    position: absolute;
    bottom: -3px;
    transform: rotate(40deg);
    left: 17px;
    transition: width 1s .5s;
}

.just-line.aos-init {
    width: 5px;
}

.circle-search {
    width: 18px;
    height: 18px;
    background: none;
    margin: 0 auto;
    position: relative;
}

.progres-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
}

.progres-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
}

.circle-search .progres-left .progres-bar
{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    animation: loading-2 .2s linear forwards .4s;

}


.circle-search .progres-right .progres-bar
{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: -100%;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
border-right: 0;
-webkit-transform-origin: center right;
transform-origin: center right;
animation: loading-1 .2s linear forwards .2s;
}


.circle-search .progres-bar {
    border-color: #222E46;
}




@keyframes loading-1{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}
@keyframes loading-2{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(180deg);
}
}

/* Dotts */

.dotts {
    height: 70%;
}

.dots
{
    width: 6px;
    height: 6px;
    background: #707070;
    border-radius: 50%;
}

.dots-1 {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
   
}

.dot-1,.dot-2,.dot-3,.dot-4,.dot-5,.dot-6,.dot-7,.dot-8 {
    position: absolute;
    bottom: -100%;
}

.dot-1.aos-init{
    transition: bottom 1.5s ease-out !important;
    bottom: 89%;
}


.dot-3.aos-init{
    transition: bottom 1.5s .1s ease-out !important;
    bottom: 80%;
}

.dot-4.aos-init{
    transition: bottom 1.5s  .2s ease-out !important;
    bottom: 71%;
}
.dot-5.aos-init{
    transition: bottom 1.5s  .3s ease-out !important;
    bottom: 62%;
}
.dot-6.aos-init{
    transition: bottom 1.5s  .4s ease-out !important;
    bottom: 53%;
}
.dot-7.aos-init{
    transition: bottom 1.5s  .5s ease-out !important;
    bottom: 44%;
}
.dot-8.aos-init{
    transition: bottom 1.5s  .6s ease-out !important;
    bottom: 35%;
}



/* Socials */

.soicials {
    display: flex;
    justify-content: center;
}

.soicials i {
    font-size: 20px;
}

.facebook,.twitter {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -100%;
    color: #222E46;
}

.facebook.aos-init {
    transition: bottom 1s 1.2s ease-in-out !important;
    bottom: 3.5%;
}

.twitter.aos-init {
    transition: bottom 1s 1.5s ease-in-out !important;
    bottom: .5%;
}


/* test Main */

.main {
    position: relative;
}

.sliders {
    height: 95vh;
    display: flex;
    width: 100%;
    transform: translateX(-67%);
    transition: transform 2s 12.7s;
}

.sliders.aos-animate {
    transform: translateX(0%);
}

.main {
    width: 100%;
    height: 95vh;
    overflow: hidden;

}

.main-pic {
    background-image: url("omg.png");
    background-size: 100% 100%;
    transform-origin: center;
    height: 100%;
    position: absolute !important;
    left: 67%;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    position: relative;
    animation: grow-pic .7s 2.7s ease-in-out forwards;
}

.store-icon.wtf {
    display: none;
}

.main-pic::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 300%;
    content: "";
    background: #222E46;
    animation: bg-grow .7s 2.7s ease-in-out forwards;
}

@keyframes bg-grow{
    0%{ width:0%; opacity: 1;}
    100%{width:300%; opacity: .3;}
}

@keyframes grow-pic {
    0%{  
        transform:scale(1.2);
        opacity: 0;
    }
    100%{ 
        transform:scale(1.0);
        opacity: 1; 
    }
}


.slide-2 {
    top: 0;
    position: absolute !important;
    background-image: url("omg-3.png");
    background-size: 100% 100%;
    transform-origin: center;
    height: 100%;
    left: 0%;
    width: 100%;
    opacity: 0;
    z-index: 3;
    position: relative;
    animation: grow-pic-2 .8s 12.9s ease-in-out forwards;
    transition: left .5s 22.5s ease-in;
}   


.slide-2.aos-init {
    left: 100%;
}

.slide-2::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    background: #222E46;
    animation: bg-grow-2 .8s 12.9s ease-in-out forwards;
}



@keyframes bg-grow-2{
    0%{ width:0%; opacity: 1;}
    100%{width:100%; opacity: .3;}
}

@keyframes grow-pic-2 {
    0%{  
        transform:scale(1.2);
        opacity: 0;
    }
    100%{ 
        transform:scale(1.0);
        opacity: 1; 
    }
}

.slide-4 {
    top: 0;
    position: absolute !important;
    background-image: url("omg-4.png");
    background-size: 100% 100%;
    transform-origin: center;
    height: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 4;
    position: relative;
    animation: grow-pic-2 .9s 22.7s ease-in-out forwards;

} 

.slide-4::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    background: #222E46;
    animation: bg-grow-2 .7s 22.7s ease-in-out forwards;
}



@keyframes bg-grow-2{
    0%{ width:0%; opacity: 1;}
    100%{width:100%; opacity: .3;}
}

@keyframes grow-pic-2 {
    0%{  
        transform:scale(1.2);
        opacity: 0;
    }
    100%{ 
        transform:scale(1.0);
        opacity: 1; 
    }
}



.store_num {
    width: 13px;
    height: 13px;
    background: #FAC112;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: -10px;
    border: 3px solid white;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store_num span {
    font-size: 10px;
    color: white;
}
.store-icon {
    opacity: 0;
    transition: opacity .6s 3.1s ease-in !important;
}

.store-icon.aos-animate {
    opacity: 1;
}


.slide_count {
    width: 30px;
    height: 65px;
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 999;
    transform: translateY(-50%);
    overflow: hidden;
    font-family: Roboto;
}

.slide_count-hide {
 position: relative;
 overflow: hidden;
 height: 100%;
}


.count-hr {
    position: absolute;
    background: white !important;
    width: 0%;
    height: 2px;
    opacity: .5;
    right: 0;
    top: 55%;
    transition: width .6s 3.1s ease-in-out;
}

.count-hr.aos-animate {
    width: 100%;
}

.slide_count-1 {
    overflow: hidden;
}

.slide_count-1 span{
    margin-bottom: 15px;
    font-family: Roboto;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: all .6s 3.1s ease-in-out;
    animation: counts .6s 12.7s ease-in-out forwards;
}
.slide_count-1 span.aos-animate {
    opacity: 1;
    transform: translateY(0%);
}

@keyframes counts {
    0% {margin-top:0px ;}
    100%{margin-top:-47px;}
}

.slide_count-2 {
    overflow: hidden;
}

.slide_count-2 span {
    font-family: Roboto;
    color: white;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: all .6s 3.1s ease-in-out;
    animation: sizes .6s 12.7s ease-in-out forwards ,  counts-2 .6s 22.7s ease-in-out forwards;
    

}

.slide_count-2 span.aos-animate {
    opacity: 1;
    transform: translateY(0%);
}

@keyframes sizes {
    0% {font-size:15px; margin-bottom: 0;}
    100%{font-size:20px; margin-bottom: 15px;}
}

@keyframes counts-2 {
    0% {margin-top:0px;}
    100%{margin-top:-47px;}
}

.slide_count-3 span {
    font-family: Roboto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: all .6s 3.1s ease-in-out;
    animation: sizes .6s 22.7s ease-in-out forwards;

}

.slide_count-3 span.aos-animate {
    opacity: 1;
    transform: translateY(0%);
}

@keyframes sizes {
    0% {font-size:15px;}
    100%{font-size:20px;}
}


.scroll_down_nigga {
    width: 100px;
    height: 70px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    transition: bottom .6s 3s ease-in-out !important;
}

.scroll_down_nigga.aos-init {
    bottom: 0px;
}

.scroll_down_nigga img {
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: down .7s 3.2s ease-in-out forwards;
}

@keyframes down {
    0%{top:-65%; opacity: 0;}
    100%{top:50%;opacity: 1;};
}

.scroll_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    opacity: 0;
    transition: all .7s 3.2s ease-in-out;
}

.scroll_text.aos-init {
    margin-top: 5px;
    opacity: 1;
}

.scroll_text span {
    font-size: 12px;
    font-family: Roboto;
    color: #222E46;
}


.scroll_img {
    overflow: hidden;
    position: relative;
    height: 22%;
    margin-top: 25px;
}


/* Test */


.ball_holderG {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    transform: rotate(-55deg);
    top: 1px;
    animation-name: ball_moveG;
    -o-animation-name: ball_moveG;
    -ms-animation-name: ball_moveG;
    -webkit-animation-name: ball_moveG;
    -moz-animation-name: ball_moveG;
    animation-duration: .6s;
    -o-animation-duration: .6s;
    -ms-animation-duration: .6s;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    animation-iteration-count: forwards;
    -o-animation-iteration-count: forwards;
    -ms-animation-iteration-count: forwards;
    -webkit-animation-iteration-count: forwards;
    -moz-animation-iteration-count: forwards;
    animation-timing-function: cubic-bezier(.54,.11,.08,.92);
    -o-animation-timing-function: cubic-bezier(.54,.11,.08,.92);
    -ms-animation-timing-function: cubic-bezier(.54,.11,.08,.92);
    -webkit-animation-timing-function: cubic-bezier(.54,.11,.08,.92);
    -moz-animation-timing-function: cubic-bezier(.54,.11,.08,.92);
    animation-fill-mode: forwards;

}

.ballG {
    position: absolute;
    left: 20px;
    top: 0.6rem;
    z-index: 5;
    transform: rotate(-90deg);
}



@keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(-55deg);
		        transform:rotate(-55deg)
	}

	100%{
		-webkit-transform:rotate(90deg);
		        transform:rotate(90deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}
}



/* Main Content */

.title {
    position: absolute;
    top: 65px;
    left: 165px;
   z-index: 999;
   
    text-transform: uppercase;
    color: white;
}

.title h1 {
    font-size: 50px;
   font-family: Roboto;
   font-weight: 300;
   letter-spacing: 10px;
    opacity: 0;
    transform: translateX(6%);
    transition: all .6s 3.3s ease-in-out !important;
}

.title h1.aos-init {
    transform: translateX(0%);
    opacity: 1;
}


.text {
    position: absolute;
    top: 50%;
    left: 165px;
    width: 45%;
    z-index:999;
}

.text-title {
    overflow: hidden;
}

.text-title h1 {
    font-family: Roboto;
    font-size: 50px;
    color: #FAC112;
    text-transform: capitalize;
    font-weight: 700;
    transform: translateY(100%);
    transition: transform .6s 3.1s !important;
}

.text-title h1.aos-init {
    transform: translateY(0%);
}

.slide-2-h1 {
    overflow: hidden;
}

.slide-2-h1 h1 {
    font-family: Roboto;
    font-size: 50px;
    color: #FAC112;
    text-transform: capitalize;
    font-weight: 700;
    transform: translateY(100%);
    transition: transform .6s 13.1s !important;

}

.slide-2-h1 h1.aos-init{
    transform: translateY(0%);

}


.text-content {
    margin-top: 10px;
}

.slide-2-text {
    margin-top: 10px;
}

.text-content p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: white;
    opacity: 0;
    transition: opacity 1s 3.25s !important;
}

.text-content p.aos-init {
    opacity: 1;
}

.slide-2-text p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: white;
    opacity: 0;
    transition: opacity 1s 13.25s !important;
}

.slide-2-text p.aos-init {
    opacity: 1;
}

.text-btn {
    z-index: 999;
    width: 20%;
    overflow: hidden; 
}

.text-btn div {
    padding: 7px 20px;
    border: 2px solid #FAC112;
    background: white;
    font-family: Roboto;
    height: 39px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: bold;   
    border-radius: 30px;
    opacity: 0;
    transform: translateX(110%);
    transition: transform .5s 3.3s , opacity .8s  3.3s !important;
}

.text-btn div.aos-init {
    opacity: 1;
    transform: translateX(0%);
}

.text-btn div span {
    position: absolute;
    bottom: -70%;
    opacity: 0;
    transition: bottom .6s ease-in-out 3.4s , opacity .8s ease-in-out 3.4s  !important;
}

.text-btn div span.aos-init {
    opacity: 1;
    bottom: 20%;
}

.text-btn {
    z-index: 999;
    width: 20%;
    overflow: hidden; 
}

.slide-2-text-btn {
    z-index: 999;
    width: 20%;
    overflow: hidden; 
}

.slide-2-text-btn div {
    padding: 7px 20px;
    border: 2px solid #FAC112;
    background: white;
    font-family: Roboto;
    height: 39px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: bold;   
    border-radius: 30px;
    opacity: 0;
    transform: translateX(110%);
    transition: transform .5s 13.3s , opacity .8s  13.3s !important;
}

.slide-2-text-btn div.aos-init {
    opacity: 1;
    transform: translateX(0%);
}

.slide-2-text-btn div span {
    position: absolute;
    bottom: -70%;
    opacity: 0;
    transition: bottom .6s ease-in-out 13.4s , opacity .8s ease-in-out 13.4s  !important;
}

.slide-2-text-btn div span.aos-init {
    opacity: 1;
    bottom: 20%;
}

.mobile-text {
    display: none;
}

.dots-mobile {
    display: none;
}


.logo-mobile {
    display: none;
}


/* Mobile responsives */


@media only screen and (max-width: 1366px) {

    .nav  {
        width: 4%;
    }

    .title {
        left: 100px;
    }

    .title h1 {
        font-size: 40px;
    }

    .text {
        left: 100px;
        width: 60%;
    }

    .scroll_down_nigga {
        height: 66px;
    }

    .scroll-parent {
        height: 65px !important;
    bottom: -38px !important;
    }
}

@media only screen and (max-width: 1024px) {

    .nav {
        width: 5%;
    }

    .list-ul li {
        margin: 0 15px;
    }


}

@media only screen and (max-width: 768px) {

    .dots-1 {
        display: none;
    }

   

    .main-pic {
        background-image:url("omg-2.png"); 
    }
    .slide-2 {
        background-image:url("omg-2.png"); 
    }
    .slide-4 {
        background-image:url("omg-2.png"); 
    }

    .main-pic::after {
        background: none;
    }

    .mobile-dot {
        width: 12px;
        height: 12px;
        background: #707070;
        border-radius: 50%;
        opacity: .5;
    }

    .dots-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        align-items: center;
    }

    .dots-mobile p {
        margin: 0;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin-top: 20px;
        color: #222E46;
        font-weight: bold;
        font-family: Roboto;
    }

    .slide_count{
        display: none;
    }

    .scroll-parent {
        display: none;
    }
    
    .title{
        display: none;
    }

    .text {
        display: none;
    }

    .sliders {
        height: 334px;
    }

    .mobile-text {
        display: block;
        width: 100%;
        background: #222E46;
        height: 117px;
        padding: 15px 25px;
    }

    .fck {
        display: none;
    }

    .text-title h1 {
        font-size: 25px;
    }

    .text-btn {
        width: 50%;
    }

    .text-title h1

    {
        transform: translateY(120%);
    }
    .text-btn span {
        font-size: 14px;
        
    }

    .text-btn div {
        height: 32px;
    }

 .swiper-container {
      width: 100%;
      height: 118PX;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 80% !important;
    
    }
      .swiper-slide img {
          position: absolute;
          left: -33px;
      }
     

      .mobile-slider h1 {
          font-family: Roboto;
          font-size: 20px;
          text-transform: uppercase;
          color: #222E46;
          margin: 0;
      }

      .mobile-slider  p {
        font-family: Roboto;
        font-size: 10px;
        text-transform: uppercase;
        color: #707070;
        margin: 0;
      }

      .slider-titles {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 15px 15px 0px;
      }

      .nav::after {
          content: "";
          height: 0;
          width: 0;
      }

      .facebook.aos-init {
          bottom: 10.5%;
          transition: bottom 1s .1s ease-in-out !important;

      }

      .twitter.aos-init {
        transition: bottom 1s .2s ease-in-out !important;
          bottom: 5.5%;
      }

      .menu{
          display: none;
      }


      .nav {
        width: 18%;
        transition: width .6s;
    }

      .nav.more {
          width: 85%;
      }

      .main {
          margin-right: 0%;
          
          transition: margin-right .6s;
      }

      .main.less {
          margin-right: -86%;
      }

      .nav.more .logo {
          display: none !important;
      }

      .nav.more .search {
          display: none;
      }

      .nav.more .soicials
      {
          display: none;
      }

      .nav.more .nav-btn {
        position: absolute;
        top: 8.7%;
        left: 18px;
        align-items: unset;  
      }
      
      .nav.more .dots-mobile {
          display: none;
      }

      .nav.more .grow-line {
          display: none;
      }

        .nav.more .logo-mobile {
            display: flex;
        }


        .nav-btn {
            z-index: 99;
        }

        .nav.more .logo-mobile span {
            font-size: 30px;
            font-family: Montserrat;
            color: #222E46;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        .nav-btn.mob-active {
            z-index: 11;
        }
        

        .nav-btn.mob-active .first-div {
            transition: all .3s ease-in;
            position: absolute;
            background: white;
            transform: rotate(45deg);
        }
        
        .nav-btn.mob-active .second-div {
            transition: all .3s ease-in;
            background: white;
            transform: rotate(-45deg);
        }
        
        
        .first-div {
            transform: translate(0deg);
            margin-bottom: 5px;
            transition: transform .2s ease-in, color 10s ease-in !important;
          
        }
        
        .second-div {
            transform: translate(0deg);
            transition: transform .2s ease-in , color 1s ease-in !important;
        
        }

        .mobile-menu {
            overflow: hidden;
            position: absolute;
            display: block !important;
            width: 0%;
            top: 52%;
            transform: translateY(-50%);
            left: 0;
            z-index: 10;
            height: 519px;
            background: #FAC112;
            opacity: 0;
            transition: all .2s ease-in-out;
        }

        .mobile-menu.slide-active {
            width: 120%;
            opacity: .9;
        }

        .row {
            overflow: hidden;
        }


        .mobile-menu::before {
            content: "";
            width: 47px;
            height: 21px;
            background: white;
            position: absolute;
            top: -10px;
            left: 36.3%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            transform: translateX(-50%);
        

        }




        .mobile-menu ul {
            list-style-type: none;
            padding: 0;
            position: absolute;
            left: 40%;
            width: 100%;
            padding-left: 180px;
            transform: translateX(-50%);
            margin-top: 50px;
        }

        .mobile-menu li {
            font-size: 20px;
            font-weight: 600;
            font-family: Roboto;
            position: relative;
        }

        .mobile-menu li::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            left: -20px;
            top: 50%;
            background: #222E46;
            opacity: .5;
            transform: translateY(-50%);
        }

        .mobile-menu p {
            font-size: 14px;
            font-family: Roboto;
            position: absolute;
            bottom: 0;
    left: 40%;
    transform: translateX(-50%);
        }
    }


    .mobile-menu {
        display: none;
    }


    @media only screen and (max-width: 415px) {

        .mobile-menu{
            top: 48%;
        }

    }


    @media only screen and (max-width: 400px) {

        .mobile-menu{
            top: 54%;
        }

    }

    @media only screen and (max-width: 375px) {

        .mobile-menu{
            top: 52%;
        }

    }


    @media only screen and (max-width: 360px) {

        .mobile-menu{
            top: 54%;
        }

    }

       
    @media screen and (min-height: 800px) and (max-height:823px) {
        .mobile-menu{
            top: 42%;
        }
    
      }

      @media screen and (min-height: 800px) and (max-height:812px) {
        .mobile-menu{
            top: 43%;
        }
    
      }